<div class="container">
  <input type="text" placeholder="Search by Gender" style="width: 450px; padding: 2px 20px; margin: 10px 0px; min-height: 30px;"
  [(ngModel)]=filteredText>
  <div><h3>Total Students : {{totalStudents | async}}</h3></div>
  <table id="student">
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>Marks</th>
      <th>Percentage (%)</th>
      <th>DOB</th>
      <th>Gender</th>
      <th>Reward</th>
    </tr>
    <tr *ngFor="let student of students | studentFilter: filteredText">
        <td>{{student.name}}</td>
        <td>{{student.course}}</td>
        <td><input type="number" [(ngModel)]="student.marks"></td>
        <td>{{(student.marks/totalMarks )| percent:'2.2-2'}}</td>
        <td>{{student.dob | date:'fullDate'}}</td>
        <td>{{student.gender | uppercase}}</td>
        <td>{{student.marks | currency : 'INR'}}</td>
    </tr>
  </table>
  <button (click)="AddStudent()">Add New Student</button>
</div>